* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #0f031c;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
  border-radius: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 40% 55%;
  grid-template-rows: 110px 157px;
  column-gap: 35px;
}

.header {
  min-height: 96px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 190px 10px 10px;
}

.img_header {
  width: 120px;
  height: 120px;
}

.logo {
  display: flex;
  align-items: center;
}

.name {
  color: aliceblue;
  font-size: 45px;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  text-shadow: rgb(83, 0, 179) 2px 5px;
  font-weight: bolder;
}
.photo1 {
  width: 90%;
  height: 85%;
  border-radius: 15px;
  margin-left: 6%;
  grid-row: 1 /span2;
  margin-top: 6%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all {
  background-color: #553d67;
  border-radius: 10px;
  width: 75%;
  margin: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 162, 255, 0.363), 0 6px 20px 0 rgba(0, 92, 145, 0.452);
}
.caption {
  color: white;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(0, 174, 255);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  
}

.about {
  list-style: none;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 25px;
}
.funny {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(140, 0, 255), 0 0 0.2em rgb(140, 0, 255);
}

.about1 {
  list-style: none;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.introduction {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.introduction2 {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  margin-top: 30px;
}

.intromegasuper {
  font-size: 50px;
  font-family: "Inter", sans-serif;
  background-color: #573280;
  border-radius: 15px 15px 0px 0px;
  width: 96%;
  text-align: center;
  
}
.d {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fff {
  margin-top: 15px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}
.row {
  width: 96%;
  height: auto;
  background-color: #9078cc;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  border-radius: 40px;
}
.grid2 {
  display: grid;
  grid-template-columns: 351px 300px;
  grid-template-rows: 513px;
}

.photo2 {
  width: 100%;
  height: 100%;
  border: 3px solid #333;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-on-image {
 display: flex;
 justify-content: center;
 color: #ffffff;
 background-color: #573280;
 font-size: 32px;
 font-family: "Inter", sans-serif;
 border-radius: 5px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo3 {
  width: 100%;
  height: 100%;
  border: 3px solid #333;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 96%;
  background-color: #9078cc;
  margin: auto;
  
}
.descriptchar {
  background-color: #352268;
  overflow: scroll;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


.flex2 {
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background:#3400b6; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.grid3 {
  display: grid;
  grid-template-columns: 340px 290px;
  grid-template-rows: 513px 0px;
  margin-bottom: 5%;
}

.descriptchar2 {
  background-color: #352268;
  overflow: auto;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  border: 2px solid #333;
}
@media screen and (max-width:1870px) {
  .grid3 { 
    grid-template-columns: 275px 200px;
    grid-template-rows: 450px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 275px 250px;
    grid-template-rows: 450px;
  }
  .descriptchar2 {
    font-size: 22px;
  }

}
@media screen and (max-width:1455px) {
  .grid3 { 
    grid-template-columns: 250px 200px;
    grid-template-rows: 450px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 250px 200px;
    grid-template-rows: 450px;
  }
  .descriptchar2 {
    font-size: 22px;
  }
  .text-on-image {
    font-size: 20px;
  }

}
@media screen and (max-width:1325px) {
  .grid3 { 
    grid-template-columns: 200px 175px;
    grid-template-rows: 380px;
  }
  .text-on-image {
    font-size: 20px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 200px 175px;
    grid-template-rows: 350px;
  }
  .descriptchar2 {
    font-size: 15px;
  }
  .descriptchar {
    font-size: 15px;
  }

}
@media screen and (max-width:1200px) {
  .fff {
    font-size: 25px;
  }
  .caption {
    font-size: 35px;
  }
  .about {
    font-size: 15px;
  }
  .about1 {
    font-size: 15px;
  }

}

@media screen and (max-width:1135px) {
  .grid3 { 
    grid-template-columns: 175px 155px;
    grid-template-rows: 300px;
  }
  .text-on-image {
    font-size: 20px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 175px 155px;
    grid-template-rows: 300px;
  }
  .descriptchar2 {
    font-size: 15px;
  }
  .descriptchar {
    font-size: 15px;
  }
  .text-on-image {
    font-size: 15px;
  }
}


@media screen and (max-width:1024px) {
  .fff {
    font-size: 20px;
  }
  .caption {
    font-size: 30px;
  }
  .about {
    font-size: 15px;
  }
  .about1 {
    font-size: 15px;
  }
}
@media screen and (max-width:921px) {
  .grid3 { 
    grid-template-columns: 155px 140px;
    grid-template-rows: 270px;
  }
  .text-on-image {
    font-size: 15px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 155px 140px;
    grid-template-rows: 270px;
  }
  .descriptchar2 {
    font-size: 15px;
  }
  .descriptchar {
    font-size: 15px;
  }
  @media screen and (max-width:831px) {
    .grid3 { 
      grid-template-columns: 145px 125px;
      grid-template-rows: 245px;
    }
    .text-on-image {
      font-size: 15px;
    }
    .grid2 {
      display: grid;
      grid-template-columns: 145px 125px;
      grid-template-rows: 245px;
    }
    .descriptchar2 {
      font-size: 10px;
    }
    .descriptchar {
      font-size: 10px;
    }

@media screen and (max-width:769px) {
  .fff {
    font-size: 18px;
  }
  .caption {
    font-size: 25px;
  }
  .about {
    font-size: 12px;
  }
  .about1 {
    font-size: 12px;
  }
}

@media screen and (max-width:761px) {
  .grid3 { 
    grid-template-columns: 135px 115px;
    grid-template-rows: 200px;
  }
  .text-on-image {
    font-size: 15px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 135px 115px;
    grid-template-rows: 200px;
  }
  .descriptchar2 {
    font-size: 10px;
  }
  .descriptchar {
    font-size: 10px;
  }
}

@media screen and (max-width:699px) {
  .grid3 { 
    grid-template-columns: 125px 100px;
    grid-template-rows: 165px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 125px 100px;
    grid-template-rows: 165px;
  }
  .descriptchar2 {
    font-size: 10px;
  }
  .descriptchar {
    font-size: 10px;
  }
  .text-on-image {
    font-size: 10px;
  }
}
@media screen and (max-width:640px) {
  .name {
    display: none;
  }
}

@media screen and (max-width:631px) {
  .grid3 { 
    grid-template-columns: 110px 90px;
    grid-template-rows: 165px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 110px 90px;
    grid-template-rows: 165px;
  }
  .descriptchar2 {
    font-size: 10px;
  }
  .descriptchar {
    font-size: 10px;
  }
  .text-on-image {
    font-size: 10px;
  }
}
@media screen and (max-width:559px) {
  .grid3 { 
    grid-template-columns: 90px 90px;
    grid-template-rows: 165px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-template-rows: 165px;
  }
  .descriptchar2 {
    font-size: 10px;
  }
  .descriptchar {
    font-size: 10px;
  }
  .text-on-image {
    font-size: 10px;
  }
}
@media screen and (max-width:507px) {
  .grid3 { 
    grid-template-columns: 85px 85px;
    grid-template-rows: 165px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 85px 85px;
    grid-template-rows: 165px;
  }
  .descriptchar2 {
    font-size: 10px;
  }
  .descriptchar {
    font-size: 10px;
  }
  .text-on-image {
    font-size: 10px;
  }
}
@media screen and (max-width:473px) {
  .grid3 { 
    grid-template-columns: 75px 75px;
    grid-template-rows: 150px;
  }
  .text-on-image {
    font-size: 15px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 150px;
  }
  .descriptchar2 {
    font-size: 10px;
  }
  .descriptchar {
    font-size: 10px;
  }
  .text-on-image {
    font-size: 9px;
  }
  .caption {
    font-size: 20px;
  }
}
@media screen and (max-width:445px) {
  .about {
    font-size: 10px;
  }
  .about1 {
    font-size: 10px;
  }
}
}

@media screen and (max-width:435px) {
  .intromegasuper {
    font-size: 20px;
  }
}

@media screen and (max-width:414px) {
  .grid3 { 
    grid-template-columns: 70px 70px;
    grid-template-rows: 145px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 145px;
  }
  .descriptchar2 {
    font-size: 8px;
  }
  .descriptchar {
    font-size: 8px;
  }
  .text-on-image {
    font-size: 5px;
  }
}
@media screen and (max-width:401px) {
  .grid3 { 
    grid-template-columns: 60px 60px;
    grid-template-rows: 145px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-template-rows: 145px;
  }
  .descriptchar2 {
    font-size: 8px;
  }
  .descriptchar {
    font-size: 8px;
  }
  .text-on-image {
    font-size: 7px;
  }
  .caption {
    font-size: 18px;
  }
  .grid {
    column-gap: 10px;
  }
}

@media screen and (max-width:325px) {
  .grid3 { 
    grid-template-columns: 50px 50px;
    grid-template-rows: 145px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 145px;
  }
  .descriptchar2 {
    font-size: 5px;
  }
  .descriptchar {
    font-size: 5px;
  }
  .text-on-image {
    font-size: 5px;
  }

}