* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #0f031c;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
  border-radius: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 450px 1000px;
  grid-template-rows: 110px 350px;
}

.header {
  min-height: 96px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 190px 10px 10px;
}

.img_header {
  width: 120px;
  height: 120px;
}

.logo {
  display: flex;
  align-items: center;
}

.name {
  color: aliceblue;
  font-size: 45px;
  margin-left: 20px;
  font-family: "Inter", sans-serif;
  text-shadow: rgb(83, 0, 179) 2px 5px;
  font-weight: bolder;
}
.photo1 {
  width: 350px;
  height: 450px;
  border-radius: 15px;
  margin-left: 50px;
  grid-row: 1 /span2;
  margin-top: 27px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all {
  background-color: #553d67;
  border-radius: 10px;
  width: 1450px;
  margin: auto;
  margin-top: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 162, 255, 0.363), 0 6px 20px 0 rgba(0, 92, 145, 0.452);
}
.caption {
  color: white;
  font-size: 65px;
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgb(0, 174, 255);
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  
}

.about {
  list-style: none;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 25px;
}
.funny {
  display: grid;
  grid-template-columns: 262px 350px;
  grid-template-rows: 300px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(140, 0, 255), 0 0 0.2em rgb(140, 0, 255);
}

.about1 {
  list-style: none;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.introduction {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.intromegasuper {
  font-size: 50px;
  font-family: "Inter", sans-serif;
  margin-top: 35px;
  background-color: #573280;
  border-radius: 15px 15px 0px 0px;
  width: 1348px;
  text-align: center;
  
}
.d {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fff {
  margin-top: 15px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}
.row {
  width: 1348px;
  height: auto;
  background-color: #9078cc;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  border-radius: 40px;
}
.grid2 {
  display: grid;
  grid-template-columns: 350px 300px 340px 356px;
  grid-template-rows: 513px 513px;
  margin-top: 3px;
}

.photo2 {
  width: 300px;
  height: 470px;
  border: 5px solid #333;
}

.text-on-image {
 display: flex;
 justify-content: center;
 color: #ffffff;
 background-color: #573280;
 font-size: 32px;
 font-family: "Inter", sans-serif;
 border-radius: 5px;
}
.photo3 {
  width: 300px;
  height: 470px;
  border: 5px solid #333;
}
.flex {
  display: flex;
  justify-content: center;
  width: 1348px;
  height: 900px;
  background-color: #9078cc;
  margin: auto;
}
.descriptchar {
  background-color: #352268;
  overflow: auto;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}


.flex2 {
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background:#3400b6; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.grid3 {
  display: grid;
  grid-template-columns: 340px 300px;
  margin-left: 68px;
  grid-template-rows: 513px;
}

.descriptchar2 {
  background-color: #352268;
  overflow: auto;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  border: 2px solid #333;
}
